<!DOCTYPE HTML>
<html>
<head>
<title>Feliz Aniversario Amor</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wed Day Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{{ url_for('static',filename='css/style.css') }}" rel='stylesheet' type='text/css' />	
<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
<!--webfonts-->
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Niconne' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
<!--start-home-->

<!-- banner -->
<div class="banner">
		<div class="container">

				<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider4">
							<li>
								<div class="banner-info">
									<h3>Andres <lable>&</lable> Paola</h3>
									<p>Nov 30, 2016</p>
								</div>
							</li>
							<li>
								<div class="banner-info">
								
									<h3>Raton <lable>&</lable> Ratona</h3>
									<p>Nov 30, 2016</p>
								</div>
							</li>
							<li>
								<div class="banner-info">
									<h3>Andretchup <lable>&</lable> Paonesa</h3>
									<p>Nov 30, 2016</p>
								</div>								
							</li>
						 </ul>
					</div>
					<!--- banner Slider starts Here --->
	  			<script src="{{ url_for('static',filename='js/responsiveslides.min.js') }}"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!----//End-slider-script---->
		</div>
	</div>
<!--//banner-->
	<!--/welcome-->
	<div class="welcome-section">
		<div class="container">
		   <h2>¡¡FELIZ ANIVERSARIO AMOR!!</h2>
		   <p>Ya cumplimos un año con un mes, y me siento el chico mas feliz de todo el mundo al estar a tu lado, siempre amandote con locura, admirando tu belleza y sobretodo siempre pensandote. El tiempo corre y nuestro amor se hace mas fuerte por las cosas que pasamos y superamos, espero te guste este presente en nuestro dia, no tengo mas que decirte sino un TE AMO PAOLA, con todo mi corazon, soy torpe lo se, pero te amo mucho y todo lo que hago por ti lo hago con el corazon, te extraño mucho, espero poder verte pronto y que me llenes de besos y abrazos y me mimes como un niño el cual te ama con locura y pasion.</p>
			<div class="welcome-grids">
			<ul class="ch-grid">
					<li>
						<div class="col-md-6 ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h4>Andres</h4>
										<h5>Raton</h5>
									</div>	
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="col-md-6 ch-item ch-img-2">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2"></div>
									<div class="ch-info-back">
										<h4>Paola</h4>
										<h5>Ratona</h5>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="story-section">
		<div class="container">
		       <h3>Nuestras foto amor!</h3>
			<div class="story-grids">
				<div class="col-md-4 story-grid">
					 <img src="{{ url_for('static',filename='images/story1.jpg') }}" class="img-responsive" alt="" />
					 <h4>En halloween</h4>
					<p>Como olvidar esa noche, estabas tan besha amor, vestida tan sexi *-*</p>
				</div>
				<div class="col-md-4 story-grid">
					 <img src="{{ url_for('static',filename='images/story2.jpg') }}" class="img-responsive" alt="" />
					 <h4>Tu cumpleaños</h4>
					<p>Esa tarde maravillosa cuando te sorprendimos por tu cumple, y tu tan radiante y bella como siempre.
					Dice la gente que el tiempo 
					se nos vuela de las manos 
					pero cuando estoy contigo 
					ya no existen los horarios, 
					también dicen que la vida 
					es solo furias y penas 
					pero cuando tu sonríes 
					hasta el mas triste se alegra. 

					Desde la primera vez 
					que te puse en mi camino 
					empece a entender la tierra 
					a la magia y al destino 
					y en las noches que no estas 
					solo invento historias raras 
					tan solo para llamarte 
					y contarte en las mañanas. 

					Dicen que querer es duro 
					y que amar es complicado 
					pero cuando tu apareces 
					todo esta solucionado, 
					también dicen que la noche 
					es solo frio y penumbras 
					pero cuando yo te miro 
					toda la ciudad se alumbra. 

					Desde la primera vez 
					que te puse en mi camino 
					empece a entender la tierra 
					a la magia y al destino 
					y en las noches que no estas 
					solo invento historias raras 
					tan solo para llamarte 
					y contarte en las mañanas. </p>
				</div>
				<div class="col-md-4 story-grid">
					 <img src="{{ url_for('static',filename='images/story3.jpg') }}" class="img-responsive" alt="" />
					 <h4>La noche de super luna</h4>
					<p>Aquella noche donde vimos la luna juntos brillar tan grandota, queria brillar mas que tu pero no podia muajajaj tu brillas mas mi amorcito.
					Quizás te puedas preguntar 
					Que le hace falta a esta noche blanca 
					A nuestras vidas que ya han vivido tanto 
					Que han visto mil colores de sabanas de ceda 
					Y cuando llueve, te gusta caminar 
					Vas abrazándome, sin prisa aunque te mojes 
					Amor mio, lo nuestro es como es 
					Es todo una aventura, no le hace falta nada 

					Y estoy aqui, tan enamorado de ti 
					Que la noche dura un poco mas 
					El grito de una ciudad 
					Que ve nuestras caras la humedad 
					Y te hare compañia mas alla de la vida 
					Yo te juro que arriba te amare mas 
					Tan enamorados y asi 
					La noche dura un poco mas 

					La mañana nos traera 
					Un canto nuevo de pajaros alegres 
					Amor mio, asi es la vida juntos 
					Dos locos de repente, sonriendole a la gente 
					Que los ve pasar 

					Tan enamorados y asi 
					La noche dura un poco mas 
					Viajar a tu lado en el tren 
					Un sueño dificil, de creer 
					Poco a poco el abrazo, boca a boca al espacio 
					Aliento y suspiros tibios anochecer 
</p>
				</div>
				<div class="clearfix"></div>
		   </div>
		</div>
	</div>
<!--/event-section-->
       <div class="event-section">
		<div class="container">
		    <h3>Nuestros momentos</h3>
			<div class="event-grids">
				<div class="col-md-4 event-grid">
					 <img src="{{ url_for('static',filename='images/e1.jpg') }}" class="img-responsive" alt="" />
					 <h4>Nosotros en tu cumple</h4>
					<p>Fue un bonito momento juntos junto a nuestros amigos, lo bueno es que te sorprendimos y todo lo hice con mucho amor.
					Te amo 
					Mas que a un nuevo mundo, mas que a un día perfecto 
					Mas que a un suave vino, mas que a un largo sueño 
					Mas que a la balada de un niño cantando 
					Mas que a mi música, mas que a mis años 
					Mas que a mis tristezas, mas que a mis quehaceres 
					Mas que a mis impulsos, mas que a mis placeres 
					Mas que a nuestro juego preferido 
					Mas aun que esto te amo</p>
					<span class="event-date">Aug 30th <span class="event-year">2015</span></span>
				</div>
				<div class="col-md-4 event-grid">
					 <img src="{{ url_for('static',filename='images/e2.jpg') }}" class="img-responsive" alt="" />
					 <h4>Salimos bien B)</h4>
					<p>Siempre sales bien en las fotos para mi, eres muy bella te amo demasiado amor.
					La vida es un millón de momentos
					Los tienes, de prisa se van.
					Las horas nos escriben un cuento
					Tu boca que me pide más.
					Hay mil historias detrás de un silencio
					Hay olas que se roba el mar
					Tu abrazo se consume en el tiempo
					Y en ti yo quiero descansar.
					Hay noches de hielo
					Hay alas caídas
					Llovizna en la acera
					Tu cara divina.
					Si tuviera que elegir,
					Te elegiría a ti
					Besándome, cuidándome,
					Sintiéndote.
					Tan solo esos momentos
					Son los que guardo dentro.
					Te elegiría a ti
					De nuevo a ti
					Amándome.
					Tan solo esos momentos
					Son los que llevo dentro
					De mí.</p>
					<span class="event-date">Sep 14th <span class="event-year">2015</span></span>
				</div>
				<div class="col-md-4 event-grid lost">
					 <img src="{{ url_for('static',filename='images/e3.jpg') }}" class="img-responsive" alt="" />
					 <h4>Nuestra primera noche de baile</h4>
					<p>La primera vez que bailo asi, me gusto mucho esa noche estar a tu lado, bailando y yo tan enamorado de ti no dejaba de bailar, me encantas</p>
					<span class="event-date">Dec 14th <span class="event-year">2015</span></span>
				</div>
				<div class="clearfix"></div>
		   </div>
		</div>
	</div>
<!--/bottom-section-->
	<div class="bottom-section">
		<div class="container">
		    <h3>Te Amo con todo mi corazón Paola</h3>
		</div>
	</div>
<!--footer-->
	<div class="footer">
		  <div class="container">
			 <div class="copy">
		              <p>&copy; 2016 All Rights Reserved. Ratones Corporacion </p>
		      </div>
			  <div class="header-right b-lost">

			<div class="clearfix"></div>
		 </div>
	 </div>
			<!--start-smoth-scrolling-->
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>